blessings==1.6.1
bpython==0.17.1
certifi==2022.12.7
chardet==3.0.4
curtsies==0.3.0
Django==1.11
django-datetime-widget==0.9.3
django-easy-pdf==0.1.1
django-extensions==2.0.0
django-multiselectfield==0.1.8
django-wkhtmltopdf==3.1.0
djangorestframework==3.7.7
Faker==0.8.11
greenlet==0.4.13
html5lib==1.0.1
httplib2==0.11.3
idna==2.6
Jinja2==2.10
MarkupSafe==1.0
mysql-connector-python==8.0.6
pdfkit==0.6.1
Pillow==5.1.0
pkg-resources==0.0.0
Pygments==2.2.0
PyJWT==1.6.1
PyMySQL==0.8.0
pyPdf==1.13
PyPDF2==1.26.0
PySocks==1.6.8
python-dateutil==2.6.1
pytz==2018.3
reportlab==3.4.0
requests==2.18.4
six==1.11.0
text-unidecode==1.2
twilio==6.12.0
typing==3.6.4
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
wkhtmltopdf==0.2
xhtml2pdf==0.2.2

