{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/order_edit/{{ order.id }}">Zgłoszenie <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/task_list/{{ order.id }}">Zlecenia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/doc_list/{{ order.id }}">Dokumenty</a>
          </li>
        </ul>
      </div>
    </nav>
    <br>
    {% block order_details %}{% endblock %}

{% endblock %}