{% extends 'base_order.html' %}

{% block order_details %}

    <p>ID zgłoszenia: {{ order.id }} Utworzył {{ order.who_add.username }} Data utworzenia {{ order.date }} {{ order.hour }}</p>

    <p>{{ insured_about_note }}</p>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Zapisz">
    </form>
    <p><a href="/generate_receipt/{{ order.id }}/{{ task.id }}">Generuj gwarancję płatności</a></p>
    {% block afterform %}{% endblock %}
{% endblock %}